.panel-heading-corr{
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
    padding: 0 !important;
}

.nav-corr{
    padding-top: 0px !important;
    padding-bottom: 0px !important; 
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color:white !important;
}