.pillsText {
    color: white !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color: #035294;
    /*border-color: #105c9c;*/
}

.pillsText.a {
    color: white !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
}

.pillsText:hover {
    color: #337ab7 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pillsText:active{
    color: #337ab7 !important;
    background-color: white;
}

.nav-pills {
    border: 1px solid #337ab7;
    border-radius: 5px
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #337ab7 !important;
    background-color: white;
}

.icon-bar{
    background-color: white;
}

.panel-heading {
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 2px !important;
}

.panel-title {
    position: absolute;
    padding-top: 11px !important;
    padding-bottom: 14px !important;
    padding-left: 15px !important;
}

.navcorrect {
    margin: 0px !important;
}

.pillcorr {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 5px !important;
}

.tabscorrect {
    padding-left: 5px !important;
    /*margin-right: 5px !important;*/
}

/*.panel {
    padding: 15px;
}*/

.tabright {
    padding-right: 10px !important;
}

.bold-name{
    font-weight: bold;
}