[hidden] {
  display: none;
}


.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.demo-menu {
    padding-top: 5px;
}

.menu-content {
    margin-left: 5px !important;
    margin-top: 40px !important;
}

.typeahead {
    padding-top: 7px !important;
}

[md2-menu] 
    { position: relative; 
    display: inline-block; }
[md2-menu] .md2-menu-content 
    { position: absolute; 
    top: 40px !important; 
    left: 5px !important; 
    display: inline-block; 
    background: #fff; 
    list-style: none; 
    min-width: 100px; 
    padding: 8px 0; 
    margin-left: 5px !important; 
    margin-top: 40px !important;
    -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); -moz-transform-origin: left top; -ms-transform-origin: left top; -o-transform-origin: left top; -webkit-transform-origin: left top; transform-origin: left top; -moz-transition: all .4s linear; -o-transition: all .4s linear; -webkit-transition: all .4s linear; transition: all .4s linear; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12); z-index: 1; border-radius: 2px; }
[md2-menu] .md2-menu-content.right 
    { left: auto; 
    right: 0; 
    -moz-transform-origin: right top; 
    -ms-transform-origin: right top; 
    -o-transform-origin: right top; 
    -webkit-transform-origin: right top; 
    transform-origin: right top; }
[md2-menu] .md2-menu-content.top 
    { top: auto; bottom: 0; 
    -moz-transform-origin: left bottom; 
    -ms-transform-origin: left bottom; 
    -o-transform-origin: left bottom; 
    -webkit-transform-origin: left bottom; 
    transform-origin: left bottom; }
[md2-menu] .md2-menu-content.top.right 
    { -moz-transform-origin: right bottom; 
    -ms-transform-origin: right bottom; 
    -o-transform-origin: right bottom; 
    -webkit-transform-origin: right bottom; 
    transform-origin: right bottom; }
[md2-menu].open > .md2-menu-content 
    { -moz-transform: scale(1); 
    -ms-transform: scale(1); 
    -o-transform: scale(1); 
    -webkit-transform: scale(1); 
    transform: scale(1); 
    margin-top: 40px;
    margin-left: 5px;
     }
[md2-menu] li { 
    position: relative; 
    display: block; }
[md2-menu] .md2-menu-item 
    { position: relative; 
    display: block; 
    padding: 0 16px; 
    line-height: 36px; 
    color: rgba(0,0,0,.87); 
    cursor: pointer; 
    text-decoration: none; 
    white-space: nowrap; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    -webkit-transition: 0.3s; 
    transition: 0.3s; }
[md2-menu] .md2-menu-item:hover 
    { background-color: rgba(158,158,158,0.2); }

.menu-button {
    display: block !important;
}

.menu-button {
    padding-left: 0px !important;
}

button:focus { outline: none; }

.menu-button:focus { outline: none; }

#search{
    width: 480px;
    height: 49px;
    border: 3px solid black;
    padding: 1px 0 0 48px;
    font-size: 22px;
    color: blue;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}